In [1]:
import pandas as pd

In [2]:
hf_data = pd.read_csv("heart.csv")

In [3]:
hf_data.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [4]:
hf_data.columns

Index(['Age', 'Sex', 'ChestPainType', 'RestingBP', 'Cholesterol', 'FastingBS',
       'RestingECG', 'MaxHR', 'ExerciseAngina', 'Oldpeak', 'ST_Slope',
       'HeartDisease'],
      dtype='object')

In [6]:
hf_subset = hf_data[['Age', 'Sex', 'ChestPainType', 'RestingBP', 'Cholesterol', 'FastingBS',
       'RestingECG', 'MaxHR', 'ExerciseAngina','HeartDisease']]
hf_subset

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0
1,49,F,NAP,160,180,0,Normal,156,N,1
2,37,M,ATA,130,283,0,ST,98,N,0
3,48,F,ASY,138,214,0,Normal,108,Y,1
4,54,M,NAP,150,195,0,Normal,122,N,0
...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1
914,68,M,ASY,144,193,1,Normal,141,N,1
915,57,M,ASY,130,131,0,Normal,115,Y,1
916,57,F,ATA,130,236,0,LVH,174,N,1
917,38,M,NAP,138,175,0,Normal,173,N,0

In [10]:
hf_subset.columns = [
    'Age', 
    'Sex', 
    'Chest Pain Type', 
    'Resting Blood Pressure', 
    'Cholesterol', 
    'Fasting Blood Sugar',
    'Resting ECG', 
    'Max Heart Rate', 
    'Exercise Angina',
    'Heart Disease'   
]
hf_subset

,Age,Sex,Chest Pain Type,Resting Blood Pressure,Cholesterol,Fasting Blood Sugar,Resting ECG,Max Heart Rate,Exercise Angina,Heart Disease
0,40,M,ATA,140,289,0,Normal,172,N,0
1,49,F,NAP,160,180,0,Normal,156,N,1
2,37,M,ATA,130,283,0,ST,98,N,0
3,48,F,ASY,138,214,0,Normal,108,Y,1
4,54,M,NAP,150,195,0,Normal,122,N,0
...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1
914,68,M,ASY,144,193,1,Normal,141,N,1
915,57,M,ASY,130,131,0,Normal,115,Y,1
916,57,F,ATA,130,236,0,LVH,174,N,1
917,38,M,NAP,138,175,0,Normal,173,N,0

In [11]:
hf_subset.to_html("hfstats.html")

In [12]:
hf_subset.describe()

,Age,Resting Blood Pressure,Cholesterol,Fasting Blood Sugar,Max Heart Rate,Heart Disease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,1.000000

In [13]:
hf_subset[hf_subset["Heart Disease"]>=1]

,Age,Sex,Chest Pain Type,Resting Blood Pressure,Cholesterol,Fasting Blood Sugar,Resting ECG,Max Heart Rate,Exercise Angina,Heart Disease
1,49,F,NAP,160,180,0,Normal,156,N,1
3,48,F,ASY,138,214,0,Normal,108,Y,1
8,37,M,ASY,140,207,0,Normal,130,Y,1
11,58,M,ATA,136,164,0,ST,99,Y,1
13,49,M,ASY,140,234,0,Normal,140,Y,1
...,...,...,...,...,...,...,...,...,...,...
912,57,F,ASY,140,241,0,Normal,123,Y,1
913,45,M,TA,110,264,0,Normal,132,N,1
914,68,M,ASY,144,193,1,Normal,141,N,1
915,57,M,ASY,130,131,0,Normal,115,Y,1
916,57,F,ATA,130,236,0,LVH,174,N,1

In [14]:
hf_subset["Age"].value_counts()

54    51
58    42
55    41
57    38
56    38
52    36
62    35
59    35
51    35
53    33
60    32
48    31
61    31
63    30
50    25
43    24
46    24
41    24
64    22
49    21
65    21
47    19
44    19
45    18
42    18
38    16
67    15
39    15
69    13
40    13
66    13
35    11
37    11
68    10
34     7
74     7
70     7
36     6
32     5
71     5
72     4
75     3
29     3
76     2
77     2
33     2
31     2
73     1
30     1
28     1
Name: Age, dtype: int64